.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: rgb(80, 97, 191);
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #3F51B5;
  color: white;
}

/* .PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
} */


.appbar{
  position: absolute;
}

.flex {
  position: absolute;
}

.button{
  position: absolute;
  left: 1150px;
}

.button2{
  position: absolute;
  left: 1000px;
}

.space {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

.space1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.reviewTicketCard {
  margin-top: 80px;
  margin-left: 30px;
  /* margin-right: px; */
  width: 800px;
  height: 200px;
}

.reviewTicketInfo {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 30px;
  width: 400px;
  height: 400px;

}


.guttertop {
  padding-top: 10px;
  padding-bottom: 5px;
}

.bg {
  color: red;
  display: inline-block;
  font-size: smaller;
}