.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #3F51B5;
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  
}


.PageSwitcher__Item--Active {
  background-color: #3F51B5;
  color: white;
}

/* .PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
} */


.appbar{
  position: absolute;
}

.flex {
  position: absolute;
}

.button{
  position: absolute;
  left: 1150px;
}

.button2{
  position: relative;
  margin-left: 200px;
  outline: 'none';
}

.space {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

.space1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.reviewTicketCard {
  margin-top: 80px;
  margin-left: 30px;
  width: 800px;
  height: 170px;
}

.reviewTicketInfo {
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 30px;
  width: 400px;
  height: 96%;
}

.adminReplyCard{
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 23px;
}


.guttertop {
  padding-top: 10px;
}

.bg {
  color: red;
  display: inline-block;
  font-size: smaller;
}


.admin-actions {
  padding-top: 10px;
}

.admin-title {
  padding-top: 30px;
}

.same-line {
    display: inline-block;
    font-weight: bold;
    /* position: absolute; 
    padding-right: 300px; */
}

.icon {
  margin-right: 25px;
}

.box{
  padding-bottom: 30px;
}

.container {
  position: relative;
}

.test {
  position: fixed;
  opacity: 0.4;
  filter: brightness(80%) contrast(120%);
  height: auto;
}

.text1 {
  position: relative;
  padding-left: 150px;
  padding-top: 100px;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 70px;
  letter-spacing: 1.5px;

}

.text3 {
  position: relative;
  color: rgb(0, 0, 0);
  padding-left: 150px;
  letter-spacing: 1.5px;
  line-height: 30px;
  padding-bottom: 25px;
  font-size: 70px;
  
}

.separator {
  color: #F9C03E;
}

.background {
  /* background-color: rgb(255, 255, 255) !important; */
  background-image: url('../src/img/accenture_big.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: bottom;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  height:100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
}

.recap {
  position: absolute;
  text-align: center;
  padding-left:150px;
}


.dialog-title {
  font-size: 60px;
}

.adminReplyTitle{
  position: absolute;
  display: inline-block;
}

.adminReplyButton {
  position: relative;
  left: 170px;
}

.adminReplyMessage {
  padding-top: 10px;
}

.infoTitle {
  font-weight: 700;
}

.username {
  font-weight: 500;
}

.backgroundSignIn {
  /* background-image: url('../src/img/black.jpg'); */
  background-image: url('../src/img/login_page.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
}

.backgroundRegister {
  /* background-image: url('../src/img/black.jpg'); */
  background-image: url('../src/img/background_register.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
}


.reviewTicketCardClient {
  margin-top: 90px;
  margin-left: 30px;
  max-width: 95%;
  height: 170px;
  /* max-height: 50%; */
}

.reviewTicketInfoClient {
  margin-top: 90px;
  margin-left: 10px;
  margin-right: 30px;
  /* width: 400px; */
  max-width: 100%;
  height: 70%;
}

.clientAdminReplyCard {
  margin-top: 20px;
  margin-left: 30px;
  max-width: 95%;
  height: 90%;
  /* max-height: 80%, */
}

.clientUserActions{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  /* width: 400px; */
  max-width: 100%;
  height: 55%;
}


/* .chatForm {
  align-items: center;
}

.containerChat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}



.chatcard{
  max-width: 70%;
  justify-content: center;
  justify-self: center;
  display: flex; 

}*/

.testing123 {
  justify-content: center;
  margin-left: 35%;
}

.clientBubble {
  border: 2px solid #94C2ED;
  background-color: #94C2ED;
  border-radius: 25px;
  
}